Package: com.nahtedetihw.reachplayer
Name: ReachPlayer
Version: 2.5
Architecture: iphoneos-arm
Description: Now Playing info in Reachability Window!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate
