<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
			<key>icon</key>
			<string>ENABLE.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>REACHPLAYERACTIVATIONPreferencesListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>label</key>
			<string>Activation</string>
			<key>icon</key>
			<string>ACTIVATION.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>REACHPLAYERLAYOUTPreferencesListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>label</key>
			<string>Layout</string>
			<key>icon</key>
			<string>LAYOUT.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>REACHPLAYERBACKGROUNDPreferencesListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>label</key>
			<string>Background</string>
			<key>icon</key>
			<string>BACKGROUND.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>REACHPLAYERMISCPreferencesListController</string>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>label</key>
			<string>Misc</string>
			<key>icon</key>
			<string>MISC.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>ReachPlayer 2.5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2023 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
