<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring only required to enable/disable and change reachability height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blurred Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>enableBlur</string>
			<key>label</key>
			<string>Enable Blur</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>enableTapToToggle</string>
			<key>label</key>
			<string>Double Tap To Toggle</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reachability Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>reachOffset</string>
			<key>max</key>
			<real>0.75</real>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Chevron Transparency</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>chevronOpacity</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>180</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>artworkSize</string>
			<key>max</key>
			<integer>200</integer>
			<key>min</key>
			<integer>50</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Position Horizontal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>90</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>positionX</string>
			<key>max</key>
			<integer>200</integer>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Position Vertical</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>180</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>positionY</string>
			<key>max</key>
			<integer>300</integer>
			<key>min</key>
			<integer>100</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Timeout Duration</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<string>8</string>
			<key>defaults</key>
			<string>com.nahtedetihw.reachplayerprefs</string>
			<key>key</key>
			<string>keepAliveDuration</string>
			<key>label</key>
			<string>Time %is</string>
			<key>max</key>
			<integer>120</integer>
			<key>min</key>
			<integer>1</integer>
			<key>singularLabel</key>
			<string>Time</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.reachplayerprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reachability will stay open for the above number of seconds you chose</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>ReachPlayer 1.9</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2021 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
